<header class="header">

  <div class="container">

    <nav class="nav">

      <a routerLink="/" routerLinkActive="active">
        Home
      </a>

      <a routerLink="/products" routerLinkActive="active">
        Products
      </a>

      <a href="#">
        Categories
      </a>

      <a href="#">
        About
      </a>

    </nav>

    <div class="actions">
      <button class="icon-btn">
        🔍
      </button>


      <a routerLink="#" class="cart">
        🛒
        <span>0</span>
      </a>


      <a routerLink="/login" class="account">
        👤 Login
      </a>

    </div>

  </div>

</header>